<h1>About Us</h1>
<p>Welcome to the most interesting place on the planet Earth. We have a lot of interesting quirky things to buy. Managing by Smith's family.</p>

<div class="">
  <h2>Our Team </h2>
</div>

<section style="display: flex; justify-content: space-around;">
  <div>
    <%= image_tag "agent.jpg", height: 300 %>
    <h4>The employee of the month</h4>
  </div>
  <div>
    <%= image_tag "smiths.jpg", height: 300 %>
    <h4>Owner`s family</h4>
  </div>
</section> 